page-home {
    #list-ofertas{
        .extraInfo{
            font-size: 12px;
            margin-right: 5px;
            text-align: center;
            &:first-child{
                text-align: left !important;
            }
            &:last-child{
                text-align: right;
                margin-right: 0px;
            }
        }
    
        .fecha{
            font-size: 9px;
            margin: 5px 0;
        }
    }
    
}
