<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Sobre la FULP</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        La Fundación Universitaria de Las Palmas es una institución privada sin ánimo de lucro, constituida en  1.982 con el objetivo  de dar respuesta y canalizar las exigencias de la ciudadanía de Gran canaria en su demanda de dotarse de una universidad pública en la isla.
      </p>
      <p margin-bottom>
        Junto a este propósito inicial, alcanzado en el año 1.982, la Fundación Universitaria conserva inalterables sus compromisos con la educación superior como elemento indispensable para el progreso de los individuos, de las empresas y de la región en general.
      </p>
      <p margin-bottom>
        Sus acciones de  compromiso social en la actualidad van dirigidas especialmente hacia el desarrollo personal, la formación y las experiencias específicas de los individuos que estimulen su inserción laboral, atendiendo a las expectativas y necesidades de los sectores empresariales y los nuevos escenarios económicos de progreso.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
