<!--
  Generated template for the DetalleOfertaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalle</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title mode="ios">
                    {{ Detalle?.ASUNTO }}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <ion-row>
                    <ion-col *ngIf="Detalle?.TIPO_SALARIO2!= 'No especificado'">
                        <div class="extraInfo">
                            <ion-icon name="logo-euro"></ion-icon>
                            {{ Detalle?.TIPO_SALARIO2 }}
                        </div>
                    </ion-col>
                    <ion-col *ngIf="Detalle?.TIPO_JORNADA2!= 'No especificado'">
                        <div class="extraInfo">
                            <ion-icon name="time"></ion-icon>
                            {{ Detalle?.TIPO_JORNADA2 }}
                        </div>
                    </ion-col>
                    <ion-col *ngIf="Detalle?.TIPO_CONTRATO2!= 'No especificado'">
                        <div class="extraInfo">
                            <ion-icon name="document"></ion-icon>
                            {{ Detalle?.TIPO_CONTRATO2 }}
                        </div>
                    </ion-col>
                </ion-row>
                {{ Detalle?.DESC_GENERAL }}
        </ion-card-content>
        <ion-row>
            <ion-col *ngIf="global.CodPersonal != '0'">
                <button ion-button block>Inscribirme</button>
            </ion-col>
            <ion-col *ngIf="global.CodPersonal == '0'">
                <button ion-button block (click)="goLogin()">Autenticarme</button>
            </ion-col>
        </ion-row>
    </ion-card>
    
</ion-content>
